* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #ddd;
    list-style: none;

    --red_color: rgb(238, 39, 54);
    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(64, 64, 64);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    filter: brightness(0.9);
}

img {
    border-radius: 5px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../img/forest.jpg);
    background-size: 50vw;
    background-position: right;
    height: 130px;
    margin: 0px;
    padding: 0px;
}

header section {
    width: 50vw;
    margin: 0px;
    padding: 20px;
}

header section h1 {
    font-size: 2.5rem;
}

header div {
    width: 60vw;
    height: 100%;
    background: linear-gradient(to left, rgba(64, 64, 64,0.3),rgba(64, 64, 64,1));
}

#area_nav {
    height: 20px;
}

nav {
    background-color: rgba(255, 0, 0, 0.7);
}


.main_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100;
    text-transform: uppercase;
    padding-left: 90px;
}

.main_nav a {
    height: fit-content;
    width: fit-content;
    background-color: none;
}

.main_nav a img {
    height: 45px;
    width: auto;
}

#link_list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    top: 0px;
}

.links_visible {
    transform: translateY(0px);
}

#grid_wrapper {
    display: grid;
    height: fit-content;
    background-color: rgb(64, 64, 64);
}

.highlighted {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    width: all;
    background-color: rgb(41, 41, 41);
    margin: 50px 100px 50px 100px;
    position: relative;
    align-items: flex-start;
    justify-content: end;
}

#index_highlighted {
    background-image: url(../img/try.jpg);
}

.highlighted h3 {
    font-size: 2rem;
    color: #ddd;
    z-index: 50;
    margin-bottom: 30px;
    margin-left: 50px;
}

.highlighted p {
    z-index: 50;
    margin-bottom: 20px;
    margin-left: 50px;
}

.fade_image {
    width: 100%;
    height: 80%;
    background: linear-gradient(rgba(64, 64, 64,0),rgba(64, 64, 64,1));
    position: absolute;
    bottom: 0;
}

.news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 350px;
    grid-template-areas:
    "se1 se2 arc"
    "se3 se4 arc"
    ;
    padding: 50px;
}

.news_section {
    justify-content: end;
    align-items: flex-end;
    margin-top: 50px;
}

.news_section img {
    height: 200px;
    width: 300px;
}

.news_section {
    height: 100%;
    width: 300px;
    margin-right: 50px;
}

#news_section_1 {
    grid-area: se1;
}

#news_section_2 {
    grid-area: se2;
}

#news_section_3 {
    grid-area: se3;
}

#news_section_4 {
    grid-area: se4;
}

#more_news {
    grid-area: arc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: rgb(64, 64, 64);
    height: 650px;
    padding: 30px;
}

#more_news h3 {
    text-transform: uppercase;
}

#more_news ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    background-color: rgb(84, 84, 84);
    border-radius: 10px;
    border-width: 2px;
    border-color: grey;
    border-style: solid;
    padding: 20px;
}

#more_news ul section {
    border-width: 0px 0px 0px 2px;
    border-color: var(--red_color);
    border-style: solid;
    margin: 30px;
    padding-left: 5px;
}

.calender {
    display: grid;
    height: 800px;
    padding: 50px;
}

.calender h2 {
    font-size: 3rem;
}

.calender .calender_list {
    display: flex;
}

.calender .calender_list section {
    width: 100%;
    height: 200px;
    padding: 50px;
    border-width: 0px 2px 0px 2px;
    border-color: var(--red_color);
    border-style: solid;
    margin: 10px;
}

.become_member {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--red_color);
    position: fixed;
    height: fit-content;
    width: fit-content;
    bottom: 30px;
    right: 15px;
    border-radius: 50%;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1rem;
    text-transform: uppercase;
}

.become_member:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--red_color);
    border-bottom: 0;
    border-right: 0;
    margin-left: -10.0px;
    margin-bottom: -20px;
}


/*
För medlemmar
*/

.page_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 4rem;
    padding-left: 100px;
    height: 300px;
    background-color: rgb(84, 84, 84);
}

.part_header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    margin-bottom: 50px;
    margin-top: 50px;
    text-transform: uppercase;
}

#for_members_highlighted{
    background-image: url(../img/place_holder.jpg);
}

#our_events {
    height: fit-content;
    padding: 100px;
}

#event_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    background-color: none;
}

#event_list a {
    width: fit-content;
    height: fit-content;
    background-color: var(--red_color);
    padding: 50px;
    border-radius: 5px;
}

.divider {
    flex-grow: 1;
    border-bottom: 1.5px solid black;
    margin: 0px 20px 0px 20px;
}

#help_us {
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
    height: fit-content;
}



#help_us a {
    display: flex;
    justify-content: center;
    background-color: var(--red_color);
    padding: 30px;
    width: fit-content;
    height: min-content;
    border-radius: 5px;
}

#help_us a:hover {
    filter: brightness(0.9);
    opacity: 1;
}


/*
Aktiviteter
*/


#sec_calender {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    padding: 40px;
}


#sec_calender section{
    border-width: 0px 0px 0px 3px;
    border-color: var(--red_color);
    border-style: solid;
    padding-left: 5px;
}


#sec_calender ul {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;

}

#sec_calender h4 {
    font-size: 1rem;
}

#sec_calender ul .when{
    font-weight: normal;
    margin-right: 5px;
}

#sec_calender ul .what{
    font-weight: bolder;
    margin-right: 5px;

}

#sec_calender ul .who{
    font-weight: normal;
    margin-right: 5px;

}

#sec_calender ul .where{
    font-weight: lighter;
    margin-right: 5px;
    font-size: 0.7rem;
}

#sign_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}


#sign_up div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 50px;
}

#sign_up div .sign_up_section {
    height: 250px;
    width: 100%;
    margin: 0px 30px 0px 30px;
}

.section_tint {
    display: flex;
    background-color: rgba(238, 39, 54, 0.7);
    justify-content: left;
    max-width: 50%;
    min-width: fit-content;
    height: 100%;
    margin: 0px;
    padding-left: 20px;
    padding-top: 40px;
}

#competitions {
    background-image: url(../img/competitions.jpg);
    background-size: cover;
}

#trainings {
    background-image: url(../img/trainings.jpg);
    background-size: cover;
}

#other_events {
    background-image: url(../img/other.jpg);
    background-size: cover;
}

/*
OM
*/

.about_part {
    padding: 0px 250px 100px 250px;
}

.about_part p {
    margin-top: 50px;
}

.our_vision {
    display: flex;
    justify-content: space-around;
}

.our_vision_part {
    background-color: rgb(84, 84, 84);
    width: 100%;
    height: fit-content;
    margin: 100px;
    padding: 40px;
    border-radius: 5px;
}


.our_vision_part p {
    border-width: 0px 0px 0px 3px;
    border-color: var(--red_color);
    border-style: solid;
    margin-top: 50px;
    padding-left: 20px;
}


footer {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(84, 84, 84);
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    margin-top: 30px;
}

footer a {
    width: fit-content;
    background-color: white;
}

footer h2 {
    width: fit-content;
    padding: 10px;
}


.about_us {
    color: #ddd;
    height: auto;
    width: fit-content;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
}

.reach_us {
    color: #ddd;
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

.log_in p {
    display: none;
}

@media screen and (max-width: 800px) {

    header {
        background-image: none;
    }

    header section {
        width: 100%;
    }

    header section h1 {
        font-size: 2rem;
    }

    header div {
        display: none;
    }

    .main_nav {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }

    .links_visible {
        transform: translateY(450px);
    }

    #link_list {
        background: var(--red_color);
        display: flex;
        flex-direction: column;
        height: fit-content;
        position: absolute;
        top: -400px;
        right: 0px;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        z-index: 1;
        width: 300px;
    }

    #link_list a {
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 0.1875rem;
        text-transform: uppercase;
        width: 200px;
        height: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #link_list li {
        width: 100%;
        padding-left: 40px;
    }
    
    #link_list li:hover {
        background-color: rgb(180, 32, 54);
    }

    .burger_line {
        width: var(--burgerline_width);
        height: var(--burgerline_height);
        margin: var(--burgerline_margin);
        background: black;
        border-radius: 20%;
        transition: all 0.5s;
    }

    #burger {
        margin-right: 0px;
        cursor: pointer;
    }

    .log_in img {
        display: none;
    }

    .log_in p {
        display: flex;
    }
    

    .highlighted {
        margin: 50px;
    }

    .highlighted h3 {
        font-size: 1.5rem;
        margin-right: 0px;
    }

    .highlighted p {
        font-size: 0.9rem;
        margin-right: 30px;
    }
    
    .news {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: fit-content fit-content 500px;
        grid-template-areas:
        "se1 se2"
        "se3 se4"
        "arc arc"
        ;
        padding: 30px;
        margin: 0px;
        height: fit-content;
    }

    .news_section img {
        height: 30vh;
        width: 100%;
    }
    
    .news_section {
        height: fit-content;
        width: 40vw;
        margin: 0px;
    }

    .news_section h3 {
        font-size: 0.8rem;
    }

    .news_section p {
        font-size: 0.7rem;
    }

    #news_section_1 {
        margin-right: 25px;
    }

    #news_section_3 {
        margin-right: 25px;
    }

    #more_news {
        width: 80%;
        height: fit-content;
    }

    .calender .calender_list {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-top: 0px;
    }
    
    
    .calender .calender_list section{
        border-width: 0px 0px 0px 3px;
        border-color: var(--red_color);
        border-style: solid;
        height: fit-content;
        margin: 50px 0px 0px 0px;
        padding: 0px 0px 0px 4px;
    }
    
    
    .calender .calender_list ul {
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
        height: fit-content;
    }
    
    .calender .calender_list h4 {
        font-size: 1rem;
    }
    
    .calender .calender_list ul .when{
        font-weight: normal;
        margin-right: 5px;
    }
    
    .calender .calender_list ul .what{
        font-weight: bolder;
        margin-right: 5px;
    
    }
    
    .calender .calender_list ul .who{
        font-weight: normal;
        margin-right: 5px;
    
    }
    
    .calender .calender_list ul .where{
        font-weight: lighter;
        margin-right: 5px;
        font-size: 0.7rem;
    }
    

    /*
    Activities
    */

    .page_header {
        font-size: 2.5rem;
        padding-left: 30px;
    }

    .part_header {
        justify-content: center;
        font-size: 1.5rem;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 0px;
        background-color: none;
    }
    
    #sign_up {
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }
    
    
    #sign_up div {
        flex-direction: column;
        justify-content: start;
        width: 60%;
        padding: 0px;
        margin: 0px;
    }

    #sign_up div .sign_up_section {
        height: 250px;
        width: 100%;
        margin: 0px 0px 50px 0px;
    }
    
    /*
    For members
    */

    .members_highlighted{
        height: 500px;
        width: 100%;
        padding: 100px;
    }
    
    .members_highlighted div {
        border-width: 0px 0px 0px 3px;
        border-style: solid;
        border-color: var(--red_color);
        padding-left: 10px;
    }
    
    .members_highlighted p {
        margin-top: 50px;
    }
    
    #our_events {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        background-color: none;
        padding: 0px;
    }
    
    
    
    #event_list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 100px;
        padding: 0px;
        margin: 0px;
    }
    
    #event_list a {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .divider {
        flex-grow: 1;
        border-bottom: 1.5px solid black;
        margin: 15px 50px 50px 50px;
    }
    
    #help_us {
        display: flex;
        flex-direction: column;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }
    
    #help_us a {
        background-color: var(--red_color);
        padding: 30px;
        width: 100%;
        height: min-content;
        border-radius: 5px;
    }


    /*
About
    */

    .about_part {
        padding: 0px 50px 100px 50px;
    }
    
    .about_part p {
        margin-top: 50px;
    }

    .our_vision {
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        background-color: none;
    }
    
    .our_vision_part {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 50px;
        margin-top: 0px;
        margin-right: 0px;
        padding: 40px;
    }
    
    
    .our_vision_part p {
        margin-top: 50px;
        padding-left: 20px;
    }


    footer {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: fit-content;
        padding-bottom: 100px;
    }

    footer h2 {
        padding: 0px;
        margin: 0px;
    }

    footer a {
        padding: 0px;
        margin: 0px;
        margin-top: 50px;
    }

}